<settings>
<category label="Settings">
	<setting id="enable_meta" type="bool" label="Enable Metadata" default="true"/>
	<setting id="auto-view" type="bool" label="Enable Auto View" default="true" enable="!eq(-1,false)"/>
	<setting id="MAIN" type="labelenum" label="Movies View" values="Info|Info2|Info3|Fanart|Big list|Poster Wrap" default="Info3" enable="!eq(-1,false)+!eq(-2,false)+!eq(-3,false)"/>
</category>
</settings>