<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Install Settings">
		<setting id="intro" type="bool" label="INTRO Video" default="true" visable="true"/>
	</category>
    <category label="Auto-View">
		<setting id="Auto-View" type="bool" label="Enable Auto View" default="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"/>
   	</category>  	

</settings>