<settings>
	<category label="Information / Link">
	<setting type="lsep" label="For all my addons to keep running i need to be able to cover the costs"/>
	<setting type="lsep" label="So if you could consider making a donation no matter how small or large"/>
	<setting type="lsep" label="it would be appreciated"/>
	<setting type="lsep" label=""/>
	<setting type="lsep" label="DONATIONS LINK : http://i4pro.co.uk/"/>
	<setting type="lsep" label="Then click the 'DONATIONS' tab in the navbar at top of page"/>
	</category>
</settings>